CSS Website Layout * {
box-sizing: border-box;
background-color: OldLace;
}

.hide {
    display: none;
}

.strikeout {
  line-height: 1em;
  position: relative;
}
.strikeout::after {
  border-bottom: 0.5em solid black;
  content: "";
  left: 0;
  margin-top: calc(0.5em / 2 * -1);
  position: absolute;
  right: 0;
  top: 50%;
}

.highlightme {
  background-color:#000000;
  color:#000000;
  margin-top:1px;
  margin-bottom:1px;
}

.bradhand{
  font-family: 'Bradley Hand';
}
.strikeout-sl {
  line-height: 1em;
  position: relative;
}
.strikeout-sl::after {
  border-bottom: 0.6em solid black;
  content: "";
  left: 0;
  margin-top: calc(0.6em / 2 * -1);
  position: absolute;
  right: 0;
  top: 50%;
}


p.act {
font-weight: normal;
font-family: "Courier New", courier, monospace;
font-size: 18px;
margin: 10px 6.66% 10px 10%;
max-width: 700px;
background-color: white;
}

p.slug {
font-weight: normal;
font-family: "Courier New", courier, monospace;
font-size: 18px;
text-transform: uppercase;
text-decoration: underline;
margin: 0px 6.66% 25px 10%;
background-color: white;
max-width: 700px;
}

p.sub {
font-weight: normal;
font-family: "Courier New", courier, monospace;
font-size: 18px;
text-transform: uppercase;
margin: 0px 6.66% 25px 10%;
background-color: white;
max-width: 700px;
}

p.char {
font-weight: normal;
font-family: "Courier New", courier, monospace;
font-size: 18px;
text-align: center;
text-transform: uppercase;
margin: 35px 26.25% 5px 35%;
max-width: 700px;
background-color: white;
}

.dlogue {
text-align: left;
font-family: "Courier New", courier, monospace;
font-size: 18px;
margin: 5px 20% 40px 30%;
max-width: 400px;
background-color: white;
}

p.trns {
text-align: right;
font-weight: bold;
font-family: "Courier New", courier, monospace;
font-size: 18px;
text-transform: uppercase;
margin: 10px 6.66% 10px 10%;
max-width: 700px;
background-color: white;
}

p.fadein {
font-weight: bold;
font-family: "Courier New", courier, monospace;
font-size: 18px;
text-transform: uppercase;
margin: 10px 6.66% 0px 10%;
background-color: white;
}

p.cuttoblack {
text-align: right;
font-family: "Courier New", courier, monospace;
font-size: 18px;
text-transform: uppercase;
margin: 10px 6.66% 10px 10%;
max-width: 700px;
background-color: white;
}

p.par {
text-indent: 7.5%;
text-align: left;
font-family: "Courier New", courier, monospace;
font-size: 18px;
margin: 5px 20% 0px 30%;
max-width: 400px;
background-color: white;
}

p.midpar {
text-indent: 7.5%;
text-align: left;
font-family: "Courier New", courier, monospace;
font-size: 18px;
margin: -30px 20% 0px 30%;
max-width: 400px;
background-color: white;
}

body {
margin: 0;
}

.column {
float: center;
padding: 20px 10px 20px 10px;
}

.column.side {
width: 27.5%;
padding: 0 10% 0 10%;
}

.column.middle {
width: 45%;
max-width: 800px;
border: 1px solid LightGray;
background-color: white;
padding: 0 5% 0 5%;
}

.row:after {
content: " ";
display: table;
clear: both;
}

.column.side,
.column.middle {
width: 100%;
}
